<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<head>
  <title>Form</title>
  <style th:replace="/components/style/style"></style>
</head>

<body class="hold-transition sidebar-mini layout-navbar-fixed">
  <div class="wrapper">
    <!-- NAVBAR AND SIDEBAR -->
    <div th:replace="/components/navbar"></div>
    <div th:replace="/components/sidebar"></div>
    <!-- END NAVBAR AND SIDEBAR -->
    <div class="content-wrapper">
      <div class="container-fluid">
        <section class="content-header container-fluid">
          <h3>Teacher Register</h3>
        </section>
        <div class="content">
          <!------------------------ CONTENT ------------------------------------------>
          <div>
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Teacher Register</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/form/teacher" method="POST">
                <div class="card-body" th:object = "${teacher}">
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <label for="firstName">First name</label>
                      <input type="text" class="form-control" id="firstName" placeholder="Enter first name" th:field = "*{firstName}" required>
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="lastName">Last name</label>
                      <input type="text" class="form-control" id="lastName" placeholder="Enter last name" th:field = "*{lastName}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday" placeholder="Birthday" th:field = "*{birthday}" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}" required>
                  </div>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" th:field="*{address}" required>
                    
                
                  </div>
                  
                  <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="text" class="form-control" id="phone" placeholder="Phone number" th:field = "*{phoneNumber}" required>
                  </div>        
                </div>

                
                <div class="col-sm-6">
                  <!-- Select multiple-->
                  <div class="form-group">
                    <label>Select class</label>
                    <select class="form-control selectpicker" name = "list" multiple required>
                      <option th:each="classroom : ${classrooms}" th:text = "${classroom.getName()}" th:value = "${classroom.getId()}"></option>
                    </select>
                  </div>    
                </div>

                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

            
            <!-- /.card -->


          </div>
          <!------------------------ END CONTENT ------------------------------------>
        </div>
        <div class="content-footer container-fluid"></div>
      </div>
    </div>
    <footer th:replace="/components/footer"></footer>
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
  <script th:replace="components/style/script.html"></script>
  <script>
    $("a[name^='form']").addClass("active");
    $("a[name^='form_student']").removeClass("active");
    $("a[name^='form_classroom']").removeClass("active");
  </script>
</body>

</html>